.btn2-xl {
    padding: 20px 40px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-color: #fed136;
    background-color: #fed136;
}

.btn2-xl:hover,
.btn2-xl:focus,
.btn2-xl:active,
.btn2-xl.active,
.open .dropdown-toggle.btn2-xl {
    color: #fff;
    background-color: #fec503;
}

.has-error .help-block {
    color: white;
    font-weight: bold;
    font-size: large;
    text-shadow: 2px 2px 5px black;
    padding-left:10px;
}

input[type="submit"]:disabled {
    background: #fce28e;
    border-color: #fce28e;
    cursor:no-drop;
}

/* input[type=submit]:enabled {
    background: red;
} */

#phoneAndAddress {
    margin-top: 10px;
    margin-bottom: 25px;
}

#contactForm {
    margin-top:5px;
    margin-bottom: 35px;
}